.nav{
    display:flex;
    justify-content: space-between;
    background-color: rgb(49, 49, 49);
}
.nav-title{
    display:flex;
    color: white;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}
.nav-links{
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding-right: 20px;
    align-items: center;
}
a:link{
    color: white;
    text-decoration: none;
    opacity: 75%;

}
a:link:hover{
    opacity: 100%;

}
li{
    padding-left: 30px;

}
.btn{
    background-color: deepskyblue;
    box-shadow: 3px 3px black;
    color: white;
    width: 100px;
    height: 30px;
    border: 2px rgb(0, 0, 0) solid;
    opacity: 75%;
    outline: none;
    font-size: 17px;
    align-items: center
    ;

}
.btn:hover{
    opacity: 100%;
}